@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin xl () {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin md () {
  @media (min-width: 768px) {
    @content;
  }
}
