/* здесь используйте глобальные переменные */
$font-lato: "Lato", sans-serif;
$font-oswald: "Oswald", sans-serif;
$color-black: rgba(0, 0, 0, 1);
$color-graphite-black: rgba(17, 17, 17, 1);
$color-dark-gray: rgba(34, 34, 34, 1);
$color-light-gray: rgba(234, 234, 234, 1);
$color-gray: rgba(68, 68, 68, 1);
$color-white: rgba(255, 255, 255, 1);
$color-smoky-white: rgba(242, 242, 242, 1);
$color-green: rgba(104, 183, 56, 1);
$color-green-opacity: rgba(104, 183, 56, 0.85);
$color-button-slider: rgba(102, 102, 102, 1);
$color-border-card: rgba(205, 205, 205, 1);
$color-hover-button: rgba(94, 170, 47, 1);
