.card-show {
  align-items: center;
  border: 2px solid $color-smoky-white;

  .card-show__title {
    font-family: $font-oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: $color-graphite-black;
    text-transform: uppercase;
  }

  .card-show__subtitle {
    font-family: $font-lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: $color-gray;
  }
}

.card-show__title {
  margin-bottom: 8px;
}

.card-show__subtitle {
  // margin-bottom: 21px;
}

.card-show__info {
  @include md {
    max-width: 170px;
    display: block;
  }
}
