.example-slider {
  position: relative;
}

.example-slider__switch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
}

.example-slider__button {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: $color-button-slider;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $color-button-slider;
  }

  &::after {
    position: absolute;
    width: 24px;
    height: 18px;
    content: "";
    mask-image: url("../../images/button-slider.svg");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-button-slider;
  }
}
