.example__wrapper-slider {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  // overflow: hidden;

  @include md() {
    background-color: $color-light-gray;
    position: relative;
    margin-top: 250px;

    &::after {
      position: absolute;
      content: "";
      background-color: $color-light-gray;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
    }

    &::before {
      position: absolute;
      content: "";
      background-color: $color-light-gray;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
    }
  }

  @include xl() {
    background: none;
    margin-top: -195px;

    &::after,
    &::before {
      display: none;
    }
  }
}

.example-slider {
  width: 256px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  // overflow: hidden;

  height: 256px;

  @include md() {
    height: 512px;
    width: 560px;
    margin-top: -151px;
  }

  @include xl {
    margin-top: 0;
  }

  img {
    // position: absolute;
    // width: 100%;
    height: 100%;
    top: 0;
  }
}

.example-slider__slide {
  flex-basis: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.example-slider__switch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.example-slider__button {
  position: relative;
  top: 0;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: $color-button-slider;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $color-button-slider;
    transition: all 0.2s ease-in;
  }

  &::after {
    position: absolute;
    width: 24px;
    height: 18px;
    content: "";
    mask-image: url("../../images/button-slider.svg");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-button-slider;
    transition: all 0.2s ease-in;
  }

  &:hover {
    background-color: rgba(104, 183, 56, 1);

    &::before {
      border-color: rgba(104, 183, 56, 1);
    }

    &::after {
      background-color: rgba(104, 183, 56, 1);
    }
  }

  &:active {
    opacity: 0.6;

    &::after,
    &::before {
      opacity: 0.6;
    }
  }
}
