.footer {
  background-color: $color-smoky-white;
  padding: 40px 0;

  @include md() {
    padding: 55px 0;
  }

  @include xl() {
    padding: 66px 0;
  }
}

.footer__copyright {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 34px;
  justify-content: space-between;


  span {
    font-family: $font-lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $color-gray;
    transition: all 0.2s ease-in;

    @include md {
      padding-right: 53px;
    }
  }

  &::after {
    position: absolute;
    width: 30px;
    height: 34px;
    right: 0;
    content: "";
    mask-image: url("../../images/html-academy-icon.svg");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    background-color: $color-button-slider;
    transition: all 0.2s ease-in;
  }

  &:hover {
    &::after {
      background-color: rgba(104, 183, 56, 1);
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__wrapper {
  display: grid;
  justify-items: center;
  // flex-direction: column;
  grid-template-rows: repeat(3, max-content);
  // align-items: center;
  gap: 20px;


  @include md() {
    grid-template-rows: 0;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    width: 128px;
    height: 24px;
    content: "";
    top: -10px;
    mask-image: url("../../images/logo-mobile-name.svg");
    mask-repeat: no-repeat;
    mask-size: 128px 24px;
    background-color: rgba(17, 17, 17, 1);
    transition: all 0.2s ease-in;
  }

  &:hover {
    &::after {
      background-color: rgba(62, 62, 62, 1);
    }
  }

  &:active {
    &::after {
      background-color: rgba(107, 107, 107, 1);
    }
  }
}

.footer__wrapper-logo {
  width: 128px;
}
