.hero {
  background-color: $color-green;
  padding-top: 27px;
  // background-image: url("../../images/hero-bg@1x.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
}

.hero__title {
  font-family: $font-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: $color-white;
  margin-bottom: 25px;

  @include md() {
    margin-bottom: 40px;
    color: $color-black;
    max-width: 420px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin-left: 90px;
  }
}

.hero__subtitle {
  font-family: $font-oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 29px;

  @include md() {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    margin-left: 90px;
  }
}

.hero__wrapper {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  justify-items: stretch;

  @include xl() {
    grid-template-columns: max-content max-content;
  }

  @include md() {
    justify-items: start;
  }

  picture {
    margin-bottom: 3px;
    justify-self: center;

    img {
      display: block;
    }

    @include md() {
      grid-row: 4/5;
      margin-bottom: 0;
      // margin-top: -83px;
    }

    @include xl() {
      grid-column: 2/3;
      grid-row: 1/4;
      margin-left: -47px;
    }
  }
}

.hero__button {
  @include md() {
    margin-left: 90px;
  }
}
