.social-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @include md() {
    border: none;
    padding-bottom: 0;
  }
}

.social-list__link {
  display: block;
  transition: all 0.2s ease-in;

  &--vkontakte {
    width: 28px;
    height: 22px;
    mask-image: url("../../images/vkontakte.svg");
    mask-repeat: no-repeat;
    background-color: $color-button-slider;
  }

  &--youtube {
    width: 28px;
    height: 22px;
    mask-image: url("../../images/youtube.svg");
    mask-repeat: no-repeat;
    background-color: $color-button-slider;
  }

  &--telegram {
    width: 28px;
    height: 22px;
    mask-image: url("../../images/telegram.svg");
    mask-repeat: no-repeat;
    background-color: $color-button-slider;
  }

  &:hover {
    background-color: rgba(104, 183, 56, 1);
  }

  &:active {
    opacity: 0.3;
  }
}
