.subscription__title {
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $color-black;
}

.subscription__subtitle {
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $color-black;
}
